* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body {
    background-color: rgb(169, 233, 211);
}
h1 {
    font-family: fantasy;
    color: rgb(21, 134, 97);
    font-weight: 400px;
    padding: 20px;    
} h2 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(21, 134, 97);
}
ul li {
color: rgb(21, 134, 97);
}
